:root {
    --black: #00035f;
    --grey: #000;
    --purple: #000;
    --light-green: #000;
    --pink: #000:

  }

*,*::before,*::after {
    box-sizing:border-box;
    margin: 0;
}

body {
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 600px;
    color: var(--black); 
    margin: 100px;  
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-size: 35px;
    background-color: var(--red); /* best colour */
}

.container {
    display: grid;
    grid-template-columns: 200px 500px;
    grid-template-rows: 200px 100px 400px;
    grid-gap: 20px;
}