@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --red: #FF454D;
    --black: #00035f;
  }

*,*::before,*::after {
    box-sizing:border-box;
    margin: 0;
}

body {

    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 600px;
    color: var(--black); 
    margin: 100px;  
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 35px;
    border: 4px solid var(--red);
    border-radius: 10px;
}

.container {
    height: 100vh;
 

}


